/*Global*/
nav {
	font-family: 'Crimson Text';
	letter-spacing: 2px;
}
p {
	padding: 20px 0px 25px 0px;
	color: grey;
	font-family: 'Crimson Text';
}
h2 {
	color: grey;
	font-family: 'Crimson Text';
}
h4 {
	color: grey;
	font-family: 'Crimson Text';
	font-size: 1.2em;
	padding: 10px;
}
h6 {
	font-family: 'Crimson Text';
	font-size: .9em;
	color: grey;
	line-height: 0.6em;
}
footer {
	display: block;
	margin: auto 0px;
	text-align: center;
	background: silver;
	padding: 5px 0px;
}
/*Classes*/
.locationCover {
	background-size: cover; 
	width: 100%;
	height: 100px;
	display: block;
}
.centered {
	display: block;
	text-align: center;
}
.logo {
	letter-spacing: 2px;
}
/*IDs*/
#cover {
	background-image: url(../img/homeHero.jpg);
	background-size: cover; 
	width: 100%;
	height: 700px;
	display: block;
}
#menuCover {
	background-image: url(../img/menuHero.jpg);
	background-size: cover; 
	width: 100%;
	height: 700px;
	display: block;
}
#mapBox {
	width: 100%;
	height: 500px;
	display: block;
}
#aboutCover {
	background-image: url(../img/aboutHero.jpg);
	background-size: cover; 
	width: 100%;
	height: 700px;
	display: block;
}
#vaultCover {
	background-image: url(../img/vaultHero.jpg);
	background-size: cover; 
	width: 100%;
	height: 700px;
	display: block;
}
#vault {
	background: #414141;
	width: 100%;
	height: 300px;
}